body {
	margin: 0 20px;
	font-family: 'pt mono';
	background-image: url(../img/plan.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
a {
	text-decoration: none;
}
.title {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 60px;
	color: #fff;
	}
	.red {
		color: #a40800;
	}
.subtitle {
	margin-top: 0;
	margin-bottom: 60px; 
}
#content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 750px;
	min-width: 1000px;
	background: black url(../img/start-img.png);
	background-size: cover;
}

.form-inline {
	margin: 8% 0 0 12%;
	top: 50%;
	}
	.input-wrapper {
		float: left;
		position: relative;
		}
		.form-input {
			width: 250px;
			height: 25px;
			padding: 10px;
			margin-right: 100px;
			border: 1px solid #333;
			border-radius: 4px;
			box-shadow: 0 0 6px -2px #000 inset;
			font-size: 16px;
			font-family: 'pt mono'
		}
		.form-input:last-child {
			margin-right: 0;
		}
		.form-input::-webkit-input-placeholder {
			color: #a40800;
		}
		.form-input:-moz-placeholder {
			color: #a40800;
		}
		.form-input::-moz-placeholder {
			color: #a40800;
		}
		.form-input:-ms-input-placeholder {
			color: #a40800;
		}
#submit-btn {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -125px;
	width: 250px;
	height: 50px;
	background-color: black;
	color: #fff	;
	border: 1px solid #fff;
	border-radius: 6px;
	box-shadow: 2px 2px 8px 1px #000 ;
	font-size: 18px;
	font-family: 'pt mono'
}
#bus {
	transition: right 2s linear;
	position: absolute;
	bottom: 0;
	right: 100%;
	width: 2370px;
	height: 650px;
	background: url(../img/bus.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
}
#bus.drive {
	right: -2370px;
}

.chart-wrapper {
	float: left;
	height: 650px;
	padding: 40px;
	background-color: rgba(255,255,255,0.8);	

}